[Unit]
Description=Consul Template provides a convenient way to populate values from Consul into the filesystem.
Documentation=https://github.com/hashicorp/consul-template
Requires=network-online.target
After=network-online.target

[Service]
Restart=on-failure
ExecStart=/bin/consul-template -config=/etc/consul-template.d/consul-template.hcl
ExecReload=/bin/kill -HUP $MAINPID
KillSignal=SIGTERM

[Install]
WantedBy=multi-user.target
